


.cover2{
    width: 93%;
    height: auto;
    float: right;
    background-color: var(--orange);


}




.skills{
    padding: 8rem 4rem;
    width: 100%;
    height: auto;
    background-color: var(--orange);
    max-width: 1280px;
    margin: auto;
    
   


}
.skills h1{
    color: var(--white);
}

.skills p{
    color: var(--white);
    font-size: 1.6rem;
    margin-top: 1rem;
}


.skills-cover{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    margin-top: 5rem;
    gap:3rem;
    
   
}

.s-boxes{
    padding: 5rem 0rem 5rem 3rem;
    background-color: var(--bgColor2);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 2rem;
    justify-content: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.5s;
    
}
.s-boxes:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;

}




.s-box{
    display: flex;
    justify-content: left;
    align-items: center;
}





.s-boxes svg{
 color:var(--bgColor);
 margin-right: 1rem;
 color: var(--orange);
 font-size: 2rem;
 
}
.s-boxes p{
 color:var(--bgColor);
 display: flex;
}




@media only screen and (max-width: 1400px){
    .cover2{
        width: 100%;
    }
    .skills{
        width: 100%;
        padding: 8rem 4rem;
     }
}



@media only screen and (max-width: 992px){
    .cover2{
        width: 100%;
    }
    .skills{
        width: 100%;
        float: left;
        padding: 8rem 4rem;
     }
     .skills-cover{
        width: 100%;
        display: grid;
        grid-template-columns:1fr 1fr;
        margin-top: 5rem;
        gap:3%;
        flex-wrap: wrap;
       
    }
}


@media only screen and (max-width: 768px){
    .cover2{
        width: 100%;
    }
    .skills{
       width: 100%;
       float: left;
       padding: 8rem 4rem;
    }

    .s-boxes{
        /* padding: 2rem 5rem 2rem 3rem; */
        /* justify-content: space-between; */
        
    }

    .skills-cover{
        width: 100%;
        display: grid;
        grid-template-columns:1fr 1fr;
        margin-top: 5rem;
        gap:3%;
        flex-wrap: wrap;
        
    }
    .s-boxes {
        padding: 5rem 10rem 5rem 3rem;
       
    }

}
@media only screen and (max-width: 600px){
    .cover2{
        width: 100%;
    }
    .s-boxes{
        padding: 2rem 5rem 2rem 3rem;
        justify-content: space-between;
        
    }

    .skills p {
      
        font-size: 1.4rem;
       
    }

    

    .skills{
        width: 100%;
        float: left;
        padding: 5rem 2rem;
     }

    .skills-cover{
        width: 100%;
        display: grid;
        grid-template-columns:1fr ;
        margin-top: 5rem;
        margin-bottom: 8rem;
        gap:3%;
        flex-wrap: wrap;
       
    }

}
@media only screen and (max-width: 500px){
    .cover2{
        width: 100%;
    }
    .s-boxes{
       width: 100%;
        
    }

}