
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
}


:root {
  --orange: #ffb302;
  --white: #ffffff;
  --black: #000000;
  --bgColor:#454545;
 
}


.button{
  width: 17rem;
  height: 4.5rem;
  background-color: var(--white);
  border-radius:3rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}